.bookmark {
    display: inline-block;
    background: url(./assets/icons/bookmark-fill.svg);    
  }

  .fill-primary {
    fill: #007bff;
  }

  .fill-success {
    fill: #28a745;
  }

  .fill-warning {
    fill: #ffc107;
  }

  .fill-danger {
    fill: #dc3545;
  }

  .fill-secondary {
    fill: #5a6268;
  }

  .gfx-default {
    color: #5a6268;
    display: inline;
  }

  .gfx-L3 {
    color: #007bff;
    display: inline;
  }

  .gfx-FS {
    color: orangered;
    display: inline;
  }

  @media (min-width: 576px) {
  .modal-dialog {
    max-width: 90%;
  }
}