.bookmark {
    display: inline-block;
    background: url(./assets/icons/bookmark-fill.svg);    
  }

  .fill-primary {
    fill: #007bff;
  }

  .fill-success {
    fill: #28a745;
  }

  .fill-warning {
    fill: #ffc107;
  }

  .fill-danger {
    fill: #dc3545;
  }

  .fill-secondary {
    fill: #5a6268;
  }
