<div class="m-3">
    <h4>Rundown Title</h4>
    <table class="table table-sm table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Page</th>
                <th scope="col">Slug</th>
                <th scope="col">Est Time</th>
                <th scope="col">ID</th>
                <th scope="col">Graphics</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rundownItem of rundownItems; let i = index" [class]="getRowCss(rundownItem.itemType)"
                (dblclick)="test(rundownItem.itemStory.storySlug)">
                <td [class]="rundownItem.itemStory.storyApproval ? 'bg-success text-center' : 'bg-secondary text-center'"
                    data-toggle="modal" data-target=".story-modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </td>
                <td>
                    <input type="text" class="input-clean input-small" value="{{i+1}}">
                </td>
                <td>
                    <input appFocusOff type=" text" class="input-clean" maxlength="24"
                        [(ngModel)]="rundownItem.itemStory.storySlug">
                </td>
                <td>
                    <input type="text" class="input-clean input-small" [(ngModel)]="rundownItem.itemStory.storyEstTime">
                </td>
                <td>
                    {{rundownItem.itemStory.storyId}}
                </td>
                <td>
                    <div [class]="gfx.graphicCss" *ngFor="let gfx of rundownItem.itemGraphics; let i = index">
                        <span class="font-weight-bold">
                            |{{gfx.graphicType}}|
                        </span>
                        <span>
                            {{gfx.showGraphic()}}
                        </span>
                        <span style="color: black"> {{i != rundownItem.itemGraphics.length-1 ? "&nbsp;&nbsp;&nbsp;" :
                            ""}}
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- MODAL HTML -->
<div class="modal fade story-modal" tabindex="-1" role="dialog" aria-labelledby="storyLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-3">
            <app-story></app-story>
        </div>
    </div>
</div>
<p></p>