.input-clean {
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
}

.input-xsmall {
  width: 30px;  
}

.input-small {
    width: 70px;  
}

.input-small-medium {
  width: 125px;  
}

  .input-medium {
    width: 200px;  
  }

  .input-large {
    width: 300px;  
  }

  .row-break, .row-break input {
    /* background-color: skyblue; */
    color: white !important;
    background-color:#007bff !important;
  }

  td input:focus-visible {
    outline: none;
    color: black !important;
    background-color: #f9ebc0 !important;
}

.table-vertical-center {
  vertical-align: center;
}

.row-alert {
  outline: 2px solid yellow;
}